<%= render 'form' %>
<!--<table>
   <tr>
       <th>name:</th>
       <th>emailaddress:</th>
       <th>password:</th>
   </tr>
  
  <% @registrations.each do |registrations| %>
   <tr>
     <td><%= registrations.name %></td>
        <td><%= registrations.emailaddress %></td>
        <td><%= registrations.password %></td>
   </tr>

 <% end %>
</table>-->

